.navbar {
  font-family: "lato";
  justify-content: center;
  display: flex;
  text-align: center;
  font-size: large;
}
.logo {
  font-size: 20px;
}
li {
  color: black;
}
h1 {
  font-size: 48px;
  text-align: center;
}
h2 {
  font-size: 46px;
  text-align: center;
}
.btn {
  font-family: "lato";
  font-size: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
}
