:root {
  --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.navbar {
  font-family: "lato";
  justify-content: center;
  display: flex;
  text-align: center;
  font-size: large;
}
.logo {
  font-size: 20px;
}
li {
  color: black;
}
h1 {
  font-size: 48px;
  text-align: center;
}
h2 {
  font-size: 46px;
  text-align: center;
}
.btn {
  font-family: "lato";
  font-size: 19px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 55px;
  box-shadow: var(--box-shadow);
}

.img {
  border-radius: 30px;
  padding-top: 10px;
  display: flex;
  max-width: 550px;
  text-align: center;
  margin-bottom: 15px;
}
h3 {
  font-family: "lato";
  font-size: 22px;
  font-weight: 700;
}
h4 {
  font-family: "lato";
  font-size: 17px;
  font-weight: 700;
}
.projects-home {
  margin: auto;
  margin: 45px;

  box-shadow: var(--box-shadow);
  border-radius: 10px;
}
.basic {
  text-align: left;
  margin-top: 180px;
}
.plus {
  text-align: left;
  margin-top: 180px;
}
.img-weather {
  margin: 30px;
}
.image-me {
  border-radius: 10px;
}
.about-me h2 {
  justify-content: left;
  text-align: left;
  font-size: 56px;
}
.about-me h4 {
  font-weight: 300;
  font-size: 22px;
}
.projects-text {
  text-align: center;
}
.proj h4 {
  text-align: center;
  margin-top: 10px;
}
.proj p {
  text-align: center;
}
.proj img {
  display: block;
  margin: auto;
  width: 80%;
  margin-top: 55px;
}
.proj {
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  margin-top: 45px;
}
.go-to-button {
  text-align: center;
}
.row {
  justify-content: space-between;
}
footer .email-link {
  text-decoration: none;
  color: black;
  text-align: center;
  font-size: 24px;
}
footer .social-links a {
  margin: 0 20px;
  color: black;
  margin-top: 10px;
}
footer {
  margin: 60px;
}

@media screen and (max-width: 780px) {
  .basic {
    margin: 0;
    text-align: center;
  }
  .img {
    max-width: 350px;
    margin: auto;
  }
  .plus {
    margin-top: 15px;
    text-align: center;
  }
  .img-weather {
    margin-top: 25px;
  }
  .image-me {
    max-width: 450px;
    margin: auto;
  }
}
